# Django Settings
DJANGO_SECRET_KEY=django-insecure-^m!5$ju_6sk_fo1*lo=u#%lv%7id5fp4dsh&fv)5wo7=x&)-!#
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com

# Database
# Leave DB_ENGINE unset for SQLite, or set it to django.db.backends.postgresql
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=shared_postgres
DB_PORT=5432
